body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background: #F5F5F5;
  }

  h1 {
    text-align: center;
    color: #8f2934;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
    margin: 10px;
  }

  .form-container {
    width: 100%;
    max-width: 500px;
  }
  
  .form-box {
    background-color: #dfe0e0;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
  }

  .form-header {
    background-color: #1f2327;
    padding: 10px;
    text-align: center;
    font-size: 1.2em;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin: -20px -20px 20px -20px;
  }

  form {
    display: flex;
    flex-direction: column;
  }

  .form-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    color: #000000;
  }

  .form-group input {
    flex: 1;
    border: 2px solid #ccc;
  }

  .radio-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    color: #000000;
  }

  .radio-group input {
    margin-left: 15px;
  }

  .concerns-group {
    color: #000000;
    border: 2px solid #ccc;
  }

  textarea {
    width: 100%;
  }