@import "tailwindcss";
@import "tailwindcss/preflight";
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #F5F5F5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.text-gray-custom {
  color: #4B5563;
}

.form-container {
  margin-top: 100px;
  transform: scale(1.4);
  transform-origin: center;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}
p{
  color:#AC2B37
}

.table-container {
  width: 90vw;
  overflow-x: auto;
  margin: 20px auto;
  border-radius: 10px;
  border: 1px solid;
}

table {
  border-collapse: collapse;
  width: 100%;
  overflow: hidden;
}

th {
  border: 1px solid #4F1217;
  padding: 15px;
  text-align: center;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 20px;
  color:#F5F5F5;
  background-color: #4F1217;
  text-transform: uppercase;
}

td {
  border: 1px solid #701e28;
  padding: 8px;
  text-align: center;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: #4F1217;
  background-color: #e1e1e1;
  border-bottom: 1px solid #4F1217;
}

tbody{
  color: #4F1217;
}

.admin-container {
  margin-top: 10vh;
  padding: 1rem;
  color: #4F1217;
}

.admin-title {
  text-align: left;
}

.welcome-message {
  text-align: center;
  padding-bottom: 10px;
}

hr {
  border: 0;
  height: 1px;
  background: #333;
  margin: 20px 0;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;
  justify-content: flex-start;
  padding-top: 80px; /* height of the navbar */
}

h1 {
  line-height: 1.1;
  color: #AC2B37;
  text-align: center;
  font-size: 50px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
}

h2 {
  line-height: 1.1;
  color: #AC2B37;
  text-align: center;
  font-size: 40px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
}

.login-btn {
  padding-left: 20px;
  background-color: #4F1217;
  color: white;
  font-size: 16px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.mt-8 {
  padding: 100px;
  background-color: #f5f5f5;
  border-radius: 10px;
  font-size: 16px;
  margin-top: 2rem;
}
.mt-8 p {
  font-weight: bold;
  font-size: 24px;
  color: #333;
  padding-bottom: 40px;
}

.logout-btn {
  background-color: #4F1217;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-family: inherit;
  background-color: #4F1217;
  cursor: pointer;
  text-align: center;
  transition: border-color 0.25s;
  font-weight: bold;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
button:hover {
  border-color: #646cff;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.footer-note {
  text-align: center;
  font-size: 14px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #F5F5F5;
  margin-bottom: 15px;
  background-color: #AC2B37;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

